{% extends 'index.html' %} {% block lista %}

<div class="container">
  {% if todos_los_productos %}
  <div class="row">
    <div class="col">
      <ul class="list-group">
        {% for producto_id, item in todos_los_productos.items() %}
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <div class="cart-item-image">
              <img
                src="{{ url_for('static', filename='img/uploads/') }}{{item['cover']}}"
              />
            </div>
            <div class="cart-item-text">
              <span class="h3">{{ item['name'] }}</span>
              <p>
                Product id: {{producto_id}}
              </p>
              <div>
                <form action="/eliminar_producto" method="POST">
                   <input type="hidden" name="id" value="{{ producto_id }}">
                  <input type="submit" class="btn btn-danger btn-sm" value="eliminar"

                >
                </form>

              </div>
            </div>
          </div>
          <div class="cart-item-precio">
            <p class="precio">{{"{:,.2f} €".format(item['price']|float) }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if total %}

      <p class="total">Total: {{total}} €</p>
      <div>
        <a href="/finalizar_pedido" class="finalizar_pedido btn btn-success">Finalizar Pedido</a>
      </div>
      {% else %}
      <p class="total">Total: 0 €</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto text-center py-5">
        <a class="btn btn-danger" href="/vaciar_carrito" role="button"
          >Vaciar carrito</a
        >
      </div>
    </div>
  </div>
  {% endif %}
</div>

{%endblock %}
