
{% extends 'index.html' %} {% block lista %}

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for libro in todos_los_libros %}
              <li class="list-group-item d-flex justify-content-between">
                  <div class="image" >
                      <img src="{{ url_for('static', filename='img/uploads/') }}{{libro.cover}}">
                  </divclass>
                  <div>
                      <p>{{"{:,.2f} €".format(libro.price) }} </p>
                  </div>
              </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{%endblock %}

