{% extends 'index.html' %} {% block lista %}
<div class="row py-2 d-flex justify-content-around">
  {% for disco in todos_los_discos %}
  <div class="col-md-4 my-2">
    <div class="card mx-2">
      <div class="card-img">
        <img
          src="{{ url_for('static', filename='img/uploads/') }}{{disco.cover}}"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ disco.title }}</h5>
        <p>Lanzado en {{ disco.year }} por {{ disco.artist }}.</p>

        <p>{{"{:,.2f} €".format(disco.price) }} </p>


        <form action="/agregar_producto_carrito" method="POST">
          <input type="hidden" name="id" value="{{ disco.id }}">
          <input type="hidden" name="name" value="{{ disco.title }}">
          <input type="hidden" name="price" value="{{ disco.price }}">
          <input type="hidden" name="year" value="{{ disco.year }}">
          <input type="hidden" name="artist" value="{{ disco.artist }}">
          <input type="hidden" name="cover" value="{{ disco.cover }}">

          <button type="submit" class="btn btn-primary">Añadir al carrito</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
